body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-color: black;
}

.card {
    display: flex;
    max-width: 50em;
    max-height: 15em;
    flex-direction: row;
    margin-bottom: 1em;
    animation-fill-mode: backwards;
}


.card:nth-child(odd) {
    animation: moveInLeft 1s ease-out;
}

.card:nth-child(even) {
    animation: moveInRight 1s ease-out;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.card:active {
    /* transform: translateY(-1px); */
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.card img{
    max-width: 13em;
    margin: auto;
    padding: .5em;
    border-radius: .7em;
}

.card-category {
    font-size: .5em;
    padding: .2em .5em;
    color: white ;
    background-color: #898989;
    background-image: linear-gradient(
        to right bottom,
        #7ed56fb5, #28b4856e);
    border-radius: .5em;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.text-section {
    flex-basis: 50%;
    max-width: 60%;
}

.cta-section {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.cta-section .btn {
    font-weight: 500;
    padding: 0.3em 0.5em;
    background-color: #898989;
    background-image: linear-gradient(
        to right bottom,
        #ffd153b5, #e92b0a6e);
    border-color: #fff;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    /* background-color: #fff; */
}

.btn-primary::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scale(1.5);
    opacity: 0;
}

@media screen  and (max-width: 600px) {
    .card-body {
        flex-direction: column;
    }
    .cta-section {
        flex-direction: row;
    }
}
